.colorWhite { color: white; }
.colorGray { color: #a8a6a1; }
.colorBlack { color: black; }

.colorBackgroundWhite { background: white; }
.colorBackgroundRed { background: red; }
.colorBackgroundLightGray { background: #dfe0e1; }
.colorBackgroundGray { background: #a8a6a1; }