<ion-content class="pageContainer">
  <div class="maskAds">
    <img class="backImage" src="assets/img/arena-facemask-header-01-test.jpg"/>
    <div class="content">
      <div class="logo">
        <img src="assets/img/Arena-3xbars.png" />
      </div>
      <div class="description">
        <div class="title">The ‘Tour’ Mask</div>
        <ul>
          <li><p><strong>Washable / Reusable / Durable</strong></p></li>
          <li><p><strong>Optional N95 or PM2.5 Carbon Filter</strong></p></li>
          <li><p><strong>Breathable &amp; Stretchable Fabric</strong></p></li>
          <li><p><strong>Adults / Kids Sizes</strong></p></li>
          <li><p><strong>From $12.99 per Mask</strong></p></li>
          <li><p><strong>Custom Print &amp; Branding options</strong></p></li>
        </ul>
        <ion-row class="buttonWrapper">
          <div class="buttonLink colorBackgroundRed mr30">
            <a href="https://arena.store/products/arena-mask?variant=31746585591863" target="_blank">Buy Mask</a>
          </div>
          <div class="buttonLink colorBackgroundRed">
            <a href="https://arena.store/products/pm2-5-carbon-filters-10-pack?variant=31756569837623" target="_blank">Buy Filters</a>
          </div>
        </ion-row>
      </div>
    </div>
  </div>
  <div class="colorBackgroundWhite section">
    <div class="title alignCenter">
      Reusable Face Mask. <br>N95*/ PM2.5 Filter Compatible.
    </div>
    <ion-row class="mt40">
      <ion-col size="12" sizeMd="4">
        <img class="p20" src="assets/img/arena-mask-diagram-01.jpg"/>
        <div class="sectionTitle alignCenter p10">Wear it</div>
        <p class="alignCenter p20">
          We’ve produced this affordable face mask to help meet the new 
          <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/cloth-face-cover.html" target="_blank" class="colorGray">
            CDC Recommended Guidelines</a> for cloth face coverings. It’s been designed for comfort and performance using athletic-grade fabrics and elastics.
        </p>
      </ion-col>
      <ion-col size="12" sizeMd="4">
        <img class="p20" src="assets/img/arena-mask-diagram-02.jpg">
        <div class="sectionTitle alignCenter p10">Wash it</div>
        <p class="alignCenter p20">
          The durable construction and well-assembled components allow for machine washing and industrial sanitizing. Wash and reuse over 50x times.
        </p>
      </ion-col>
      <ion-col size="12" sizeMd="4">
        <img class="p20" src="assets/img/arena-mask-diagram-03.jpg">
        <div class="sectionTitle alignCenter p10">Replace the Filter</div>
        <p class="alignCenter p20">
          The Tour Mask is compatible with 3M's proprietary N95 filter media and industry standard PM2.5 Carbon disposable filters. The 3M N95 filter media is cut to fit the edge-to-edge dimensions of each mask size.
        </p>
      </ion-col>
    </ion-row>
  </div>
  <div class="section">
    <div class="title alignCenter">Featured on ABC</div>
    <ion-row>
      <ion-col size="10" offset="1" class="pt30 pb30">
        <p class="fontBig alignCenter">
          The ‘Tour’ Mask was featured on ABC - check it out to see the mask design. And, see how our team has converted operations to crank out masks 24/7 to 
          support essential workers + protect our community.</p>
      </ion-col>
      <iframe src="//www.youtube.com/embed/LmqHqGvhedc?wmode=opaque&enablejsapi=1" height="480" width="854" scrolling="no" frameborder="0" allowfullscreen="" class="marginAuto"><br/></iframe>
    </ion-row>
    <ion-row class="pt30">
      <ion-col size="8" offset="2">
        <p class="fontBig alignCenter">
          We’re proud to be supplying the Tour Mask to a range of government agencies, first responders, healthcare organizations, and universities.
        </p>
      </ion-col>
      <ion-col size="8" offset="2">
        <img src="assets/img/arena-mask-customers-01.jpg">
      </ion-col>
    </ion-row>
  </div>
  <div class="divider"></div>
  <ion-row class="section">
    <ion-col size="12" sizeMd="6" class="pl20 pr20">
      <img src="assets/img/arena-mask-hero.jpg">
    </ion-col>
    <ion-col size="12" sizeMd="6">
      <div class="title pb20">Reusable Mask</div>
      <p>
        The Arena Tour Mask is the first & only American-made, N95/PM2.5 filter insert compatible, reusable face mask. 
        Tested and iterated in-the-field with Phoenix's largest medical groups and law enforcement agencies. 100% Manufactured in the USA. Comfortable. 
        Durable. Includes adjustable nose bridge. Top elastic tie-back / Bottom elastic neck strap. Machine wash and reuse 50+ times. Suitable for industrial sanitizing.<br><br>
        <strong>Composition: </strong>2-part outer & inner shell, 100% polyester<br>
        <strong>Washing:</strong> Machine wash and reuse 50+ times. Suitable for industrial sanitizing<br>
        <strong>Strap Options:</strong>  Available with tie-backs and/or elastic straps</p>
    </ion-col>
    <ion-col size="12" class="p20"></ion-col>
    <ion-col size="12" sizeMd="6">
      <div class="title pb30">Optional 3M N95 filter media insert or PM2.5 Carbon filter insert </div>
      <p class="pb20">
        The mask is designed to hold a compatible 3M proprietary filter media full-mask insert or a PM2.5 disposable carbon filter. 
        Inserts can be replaced through the side seams of the mask and center into place between the vertical darts on the nose bridge and chin. 
        The inner shell is the pocket for the disposable inserts.</p>
      <p class="pb20">
        <strong>PM 2.5 Carbon Filter Size:</strong> 12cm * 8 cm / 4.72in * 3.15 in<br>
        <strong>3M N95 Filter Filter Media Size:</strong> 24.8cm * 15.6cm&nbsp; / 9.75in * 6.15in</p>
    </ion-col>
    <ion-col size="12" sizeMd="5" offsetMd="1" class="pl20 pr20">
      <img src="assets/img/Arena-Mask-Photos-14.jpg">
    </ion-col>
    <ion-col size="12" class="p20"></ion-col><ion-col size="12" sizeMd="5" class="pl20 pr20">
      <img src="assets/img/Arena-Mask-Photos-15.jpg">
    </ion-col>
    <ion-col size="12" sizeMd="6" offsetMd="1">
      <div class="title pb20">Stretchable & Breathable</div>
      <p class="pb20">
        The mask is a 2-piece premium composition, with a reversible design. The 4-way stretch fabric has high performance fibers that support the body’s 
        natural cooling process by wicking away moisture evenly throughout the construction of the fabric.
      </p>
      <p class="pb20">
        The Tour Mask is constructed using a 2-piece premium composition, with a reversible design. The 4-way stretch fabric has high performance fibers that 
        support the body’s natural cooling process by wicking away moisture evenly throughout the construction of the fabric. The outside polyester shell 
        maintains the shape and provides an additional layer of filtration for large particles.<br><br>
        <strong>Outer shell: </strong>100% Polyester (250 gsm / 3mm thick)<br><strong>Inner shell:</strong> 82% Poly / 18% Spandex (240 gsm / 0.35mm thick)</p>
    </ion-col>
  </ion-row>
  <div class="divider"></div>
  <ion-row class="section">
    <ion-col size="12" sizeMd="4" class="comment">
      <ion-row class="pb30">
        <img src="assets/img/Arena-3xbars.png">
      </ion-row>
      <ion-row>
        <p><b>Designed &amp; Manufactured in Phoenix, Arizona - by <a href="https://arenamerchandising.com/" class="colorGray" target="_blank"><strong>the Arena team</strong></a>.</b><br/>
          <br/>
          “Our business community has stepped up in a big way as we face this unprecedented crisis. 
          Local companies are pivoting their business operations to answer the call for critical personal protective equipment 
          for our health care workers and first responders. Arena Merchandising is a Phoenix merchandising company known for producing custom-printed apparel. 
          Its 120 operators are now making N95 compatible masks.”</p>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p><b>— Kate Gallego, Mayor of Phoenix</b></p>
        </ion-col>
        <ion-col size="12" class="logoUSA">
          <img src="assets/img/arena-made-in-usa.jpg">
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="12" sizeMd="7" offsetMd="1" class="comment">
      <ion-row>
        <ion-col size="12" class="instaView">
          <app-photo-gallery [photos]="instaImages" instaView="false"></app-photo-gallery>
        </ion-col>
      </ion-row>
      <ion-row>
        <p><strong>Supporting the fight.</strong><br>Originally designed for outdoor concerts, festivals and live events, the Arena ‘Tour Mask' is now also helping our critical workers and global citizens in the fight against the COVID-19 pandemic.&nbsp;Social Masking will be essential over the next several months to&nbsp;prevent&nbsp;second and third waves of group spread. The Tour Mask is best suited for extended travel, public transportation, and the general participation in crowded settings.&nbsp;Arena operates as one of Phoenix, Arizona's largest Screen Print &amp; Embroidery services. We've converted our sewing room floor to crank out masks for the masses- literally. From our bases in Arizona + Indiana + Texas, we’re capable of producing 50,000 American Made masks per day.</p>
      </ion-row>
    </ion-col>
    
  </ion-row>
  <div class="divider mb50"></div> 
  <div class="section imageWrapper mt50">
    <app-photo-gallery [photos]="maskImages"></app-photo-gallery>
  </div>
  
  <ion-row class="contactSection">
    <ion-col size="12" sizeMd="5">
      <div class="title pb20">Bulk Orders & Custom Print</div>
      <p class="pb20">Contact us directly to discuss bulk orders and corporate branding. </p>
      <p class="pb20"><strong>Bulk Orders<br></strong>At this time, we’re prioritizing the 3M N95 proprietary media filter inserts for accredited law enforcement and medical professionals. If you are an essential worker, please contact us directly so we can prioritize your order.</p>
      <p class="pb20"><strong>Custom Print<br></strong>We can personalize the Tour Mask with your own branding and design - ideal for law enforcement, sports &amp; events, corporations, retail, and schools.</p>
      <img src="assets/img/arena-mask-customized-01.jpg">
      <p class="pb20"><strong>Call Us</strong><br>Call us now &nbsp;(602) 357-3288&nbsp;or&nbsp;<strong>1-855-462-7362</strong></p>
      <p class="pb20"><strong>Live Chat</strong><br>Click the red button in the bottom right corner</p>
      <p class="pb20"><strong>More Info<br></strong>Download the PDF Data Sheet for more info.</p>
      <ion-row>
        <div class="buttonLink colorBackgroundRed">
          <a href="assets/ArenaTourMask.pdf" target="_blank" data-initialized="true">Data Sheet PDF</a>
        </div>
      </ion-row>
    </ion-col>
    
    <ion-col size="12" sizeMd="5" offset="0" offsetMd="2">
      <form #form="ngForm" (ngSubmit)="onSubmitContact(form)">
        <ion-row  class="pb20">
          <p class="pb20"><strong>Bulk Orders &amp; Custom Print</strong></p>
          <p class="">Fill in the form, and our team will contact you. If you are looking for small quantities for personal use, please 
            <a class="colorGray" href="Thank you! Please note, this form is intended for procurement of bulk orders for essential workers.  If this is a bulk order request, a member of the Arena team will get back to you ASAP.  If you are looking for small quantities for personal use, please use the ‘Buy Mask’ button to buy masks online. Or click here to be redirected to the shop page." target="_blank">buy online</a>. </p>
        </ion-row>
        <ion-row class="p5">
          <div class="fieldError" *ngIf="!form.valid && form.submitted"><span>Your form has encountered a problem. Please scroll down to review.</span></div>
        </ion-row>
        <ion-row class="pb30">
          <ion-col size="12"><p class="fontBig" [ngClass]="{'invalid': form.submitted && (!lname.valid || !fname.valid)}">Name *</p></ion-col>
          <ion-col size="12">
            <div class="fieldError" *ngIf="form.submitted && (!lname.valid || !fname.valid)"><span>Name is required.</span></div>
          </ion-col>
          <ion-col size="6">
            <input name="firstName" [(ngModel)]="firstName" #fname="ngModel" required [ngClass]="{'invalid': (fname.touched || form.submitted) && !fname.valid}">
            <ion-row><span class="pt5" [ngClass]="{'invalid': (fname.touched || form.submitted) && !fname.valid}">First Name</span></ion-row>
          </ion-col>
          <ion-col size="6">
            <input name="lastName" [(ngModel)]="lastName" #lname="ngModel" required [ngClass]="{'invalid': (lname.touched || form.submitted) && !lname.valid}">
            <ion-row>
              <span class="pt5" [ngClass]="{'invalid': (lname.touched || form.submitted) && !lname.valid}">Last Name</span>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="pb30">
          <ion-col size="12">
            <div class="fieldError" *ngIf="form.submitted && !orgInput.valid">
              <span>Organization is required.</span>
            </div>
          </ion-col>
          <ion-col size="12">
            <p class="fontBig" [ngClass]="{'invalid': form.submitted && !orgInput.valid}">Organization *</p>
          </ion-col>
          <ion-col size="12">
            <input name="organization" [(ngModel)]="organization" #orgInput="ngModel" required 
              [ngClass]="{'invalid': (orgInput.touched || form.submitted) && !orgInput.valid}">
          </ion-col>
        </ion-row>
        <ion-row class="pb30">
          <ion-col size="12">
            <div class="fieldError" *ngIf="form.submitted && !emailInput.valid">
              <span>Email is required.</span>
            </div>
          </ion-col>
          <ion-col size="12"><p class="fontBig" [ngClass]="{'invalid': form.submitted && !emailInput.valid}">Email *</p></ion-col>
          <ion-col size="12">
            <input name="email" [(ngModel)]="email" #emailInput="ngModel" required [ngClass]="{'invalid': (emailInput.touched || form.submitted) && !emailInput.valid}"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{1,}[.]{1}[a-zA-Z]{2,}">
          </ion-col>
        </ion-row>
        <ion-row class="pb30">
          <ion-col size="12">
            <div class="fieldError" *ngIf="form.submitted && !msg.valid">
              <span>Message is required.</span>
            </div>
          </ion-col>
          <ion-col size="12"><p class="fontBig" [ngClass]="{'invalid': form.submitted && !msg.valid}">Message *</p></ion-col>
          <ion-col size="12">
            <textarea name="message" [(ngModel)]="message" #msg="ngModel" required [ngClass]="{'invalid': (msg.touched || form.submitted) && !msg.valid}"></textarea>
          </ion-col>
        </ion-row>
        <ion-row class="p5">
          <button type="submit">Send</button>
        </ion-row>
        <ion-row class="p5">
          <div class="fieldError" *ngIf="!form.valid && form.submitted">
            <span>Your form has encountered a problem. Please scroll up to review.</span>
          </div>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
