<ion-content class="pageContainer">
  <div class="maskAds">
    <img class="backImage" src="assets/img/arena-mask-hero.jpg">
    <div class="content">
      <div class="logo">
        <img src="assets/img/Arena-3xbars.png" />
      </div>
      <div class="description">
        <div class="pageTitle">User Guide</div>
        <div class="pt20 pb20">
          <p class="fontBigger" >This is a quick usage guide.</p>
        </div>
        <ion-row class="buttonWrapper">
          <div class="buttonLink colorBackgroundRed">
            <a href="assets/img/Arena-Mask-Guide_1.0.pdf" target="_blank">DOWNLOAD PDF</a>
          </div>
        </ion-row>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="title alignCenter pb20">Getting Started</div>
    <ion-row class="mt50">
      <ion-col size="12" sizeMd="5" class="p20">
        <img src="assets/img/Arena-TourMask-Guide-01.jpg">
      </ion-col>
      <ion-col size="12" sizeMd="6" offset="0" offsetMd="1" class="verticalCenterColumn">
        <div class="sectionTitle pb20">Wash Before Use</div>
        <p class="fontBig">Wash before first use. We recommend laundering the masks daily after use. The materials we've used can withstand 190F temperatures.  
          DO NOT wash the filter. Always remove the filter before washing.</p>
      </ion-col>
    </ion-row>
    <ion-row class="mt50">
      <ion-col size="12" sizeMd="6" class="verticalCenterColumn">
        <div class="sectionTitle pb20">Wash Your Hands</div>
        <p class="fontBig">Always wash your hands with soap and warm water for at least 20-seconds - before AND after you handle the mask.</p>
      </ion-col>
      <ion-col size="12" sizeMd="5" offset="0" offsetMd="1" class="p20">
        <img src="assets/img/Arena-TourMask-Guide-02.jpg">
      </ion-col>
    </ion-row>
  </div>
  <div class="section">
    <div class="divider"></div>
  </div>
  <div class="section">
    <div class="title pb20">Insert Filter</div>
    <p class="fontBigger pb20">The Tour Mask is compatible with standard N95 / PM2.5 filters.Filters are disposable, and should be changed frequently.</p>
    <ion-row class="mt50">
      <ion-col size="12" sizeMd="6">
        <ion-row class="p20">
          <img src="assets/img/Arena-TourMask-Guide-03.jpg">
        </ion-row>
        <ion-row>
          <ion-col size="12" sizeMd="8" class="p20">
            <p class="fontBig">1) To Insert the disposable filter, roll the top and bottom edges of the filter media into a cylinder.</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" sizeMd="6">
        <ion-row class="p20">
          <img src="assets/img/Arena-TourMask-Guide-04a.jpg">
        </ion-row>
        <ion-row>
          <ion-col size="12" sizeMd="8" class="p20">
            <p class="fontBig">2) Carefully begin to insert the mask through the side opening, on the inside of the mask.</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="mt50">
      <ion-col size="12" sizeMd="6">
        <ion-row class="p20">
          <img src="assets/img/Arena-TourMask-Guide-04b.jpg">
        </ion-row>
        <ion-row>
          <ion-col size="12" sizeMd="8" class="p20">
            <p class="fontBig">3) Continue until the filter is centered between the top nose and bottom chin darts.</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" sizeMd="6">
        <ion-row class="p20">
          <img src="assets/img/Arena-TourMask-Guide-06.jpg">
        </ion-row>
        <ion-row>
          <ion-col size="12" sizeMd="8" class="p20">
            <p class="fontBig">4) Check to ensure the filter is correctly positioned in the mask.</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  <div class="section">
    <div class="divider"></div>
  </div>
  <div class="section">
    <div class="title alignCenter">
      Fitting the Mask
    </div>
    <ion-row class="mt40">
      <ion-col size="12" sizeMd="4">
        <img class="p20" src="assets/img/Arena-TourMask-Guide-07.jpg"/>
        <p class="fontBig alignCenter"><strong>Cover Your Nose &amp; Mouth</strong></p>
        <p class="alignCenter p20">
          Place the mask so that it covers your nose and mouth. We recommend&nbsp;that the mesh side faces outwards.
        </p>
      </ion-col>
      <ion-col size="12" sizeMd="4">
        <img class="p20" src="assets/img/Arena-TourMask-Guide-08.jpg">
        <p class="fontBig alignCenter"><strong>Pinch the Nose Strip</strong></p>
        <p class="alignCenter p20">
          Pinch the shapeable aluminum nose&nbsp;strip to help form a better seal under the eyes and around your nose bridge.
        </p>
      </ion-col>
      <ion-col size="12" sizeMd="4">
        <img class="p20" src="assets/img/Arena-TourMask-Guide-09.jpg">
        <p class="fontBig alignCenter"><strong>Reversing the Mask</strong></p>
        <p class="alignCenter p20">
          Reversing the mask (so the white side faces outwards) can help with breathability - for extended daily wear. We DO NOT recommend this option for use in public places. 
          <span style="text-decoration:underline">Read the FAQs for How To Reverse the Mask.</span>
        </p>
      </ion-col>
    </ion-row>
  </div>
  <div class="section">
    <div class="divider"></div>
  </div>
  <div class="section">
    <div class="title pb20">Removing the Mask</div>
    <ion-row class="mt50">
      <ion-col size="12" sizeMd="6">
        <ion-row class="p20">
          <img src="assets/img/Arena-TourMask-Guide-10.jpg">
        </ion-row>
        <ion-row>
          <ion-col size="12" sizeMd="8" class="p20">
            <p class="fontBig">1) Wash your hands - then carefully pull the straps over your head. Use the straps to pull the mask away from your face.</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" sizeMd="6">
        <ion-row class="p20">
          <img src="assets/img/Arena-TourMask-Guide-11.jpg">
        </ion-row>
        <ion-row>
          <ion-col size="12" sizeMd="8" class="p20">
            <p class="fontBig">2) Never touch the mask as you risk contaminating yourself - keep your hands off of your face and use common sense.</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  <div class="section">
    <div class="divider"></div>
  </div>
  <div class="section">
    <div class="title pb20">Removing the Filter</div>
    <ion-row class="mt50">
      <ion-col size="12" sizeMd="6">
        <ion-row class="p20">
          <img src="assets/img/Arena-TourMask-Guide-12.jpg">
        </ion-row>
        <ion-row>
          <ion-col size="12" sizeMd="8" class="p20">
            <p class="fontBig">1) Change the filter as frequently as possible, ideally daily. The filter can last for up to 7-days depending on the manufacturer.</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" sizeMd="6">
        <ion-row class="p20">
          <img src="assets/img/Arena-TourMask-Guide-13.jpg">
        </ion-row>
        <ion-row>
          <ion-col size="12" sizeMd="8" class="p20">
            <p class="fontBig">2) Always discard the filter in a safe place immediately after removing it from the mask - do not leave the filter lying around.</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  <app-footer></app-footer>
</ion-content>